.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-base);
  margin: var(--space-large) 0 var(--space-big);

  &.centered {
    justify-content: center;
  }

  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.h1 {
  margin: 0;
  font-size: var(--font-title);

  @media (max-width: 800px) {
    flex: 0 0 100%;
    text-align: center;
  }
}
