.header {
  flex: 0 0 auto;
  height: 56px !important;
  line-height: 56px !important;
  padding: 0 !important;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-base);
  height: 100%;
  padding: 0 var(--space-base);

  @media (max-width: 800px) {
    gap: var(--space-base);
  }
}

.logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: var(--font-medium);

  &,
  &:hover,
  &:active {
    color: var(--color-text-alt);
  }

  @media (max-width: 800px) {
    font-size: 16px;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.logoText {
  flex: 0 0 auto;

  @media (max-width: 480px) {
    display: none;
  }
}

.menuList {
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
  color: #fff;
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: #fff;

  &:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
  }
}
