.footer {
  flex: 0 0 auto;
  padding: var(--space-base) 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-base);
}

.copyright {
  color: var(--color-hint);
  font-size: var(--font-small);
}

.heart {
  color: var(--color-danger);
}

.author {
  color: var(--color-border);
}
